.content__main {
    background-color: black;
    color: white;
    text-align: center;

    height: 100%;
}

.fav__title {
    font-size: 2.5rem;

    padding: 1rem 0;
}
.empty__text {
    min-height: 25vh;
}

.fav__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.fav__videolist {
    display: flex;
    flex-direction: row;
}

.fav__btn {
    color: red;
    background-color: white;
    border-radius: 25%;

    position: relative;
    top: -420px;
    left: -80px;

    padding: .5rem 1rem;
}