.content__sect {
    background-color: #191919;
    color: #ffffff;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;

    padding: 3rem 2rem;
}