.content__sect {
    background-color: #191919;
    color: #ffffff;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 3rem 2rem;
}