.content__sect {
    background-color: #191919;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
    padding-bottom: 1.5rem;
}