.content__main {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 90vh;
    margin: 0;
}

.watchline__text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 854px;
}

.watch__title {
    color: white;
    font-size: 2.5rem;
    justify-self: center;
    margin: 0 auto;
}

.yt__iframe {
    min-height: 480px;
}