.header__sect {
    background-color: #000;
    border-bottom: 2px solid #f44336;

    position: fixed;
    top: 0;
    width: calc(100% - 5rem);

    padding: .5rem 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__link {
    color: white;

    font-size: 2rem;
}

.menu__nav {
    color: white;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.menu__item {
    font-size: 1.5rem;
    text-transform: uppercase;
}